* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.maxWidth {
    max-width: 1440px;
    margin: 0 auto;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    background-color: rgb(5, 23, 30);
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header */

header {
    height: 100px;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(8, 33, 41);
}

.logoDiv {
    display: flex;
    align-items: center;
    gap: 10px;
}

#logo {
    height: 40px;
    width: auto;
}

.navContent {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.navLinks {
    display: flex;
    height: 100%;
    gap: 24px;
    align-items: flex-end;
    padding-bottom: 8px;
}

.linkStyle {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: white
}

.aktiveLink {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.linkStyle:hover,
.aktiveLink {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
    color: rgb(179, 20, 19)
}

/* content */

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pokeCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px;
    background-color: rgb(8, 33, 41);
    border-radius: 20px;
    width: 300px;
    height: 400px;
}

.pokeCardHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px 0px;
}

.pokeID {
    display: flex;
    position: relative;
    left: -30%;
}

.contentImg {
    width: 300px;
}

.pokemonType {
    display: flex;
    width: 100%;
    padding: 5px 0px;
    justify-content: center;
    gap: 20px;
}

.pokeTypeImg {
    height: 32px;
    width: 32px;
}

.moreButton {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    background-color: rgb(8, 33, 41);
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
}

.moreButton:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 2px white);
}

/* Footer */

footer {
    margin-top: auto;
    height: 150px;
    background-color: rgb(8, 33, 41);
}

.footerContent {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerLinks {
    display: flex;
    gap: 16px;
    color: white;
}

.footerLinks a {
    color: white;
    text-decoration: none;
}

.footerLinks a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.footerIcons {
    display: flex;
    gap: 32px;
}

.footerIcons img {
    width: auto;
    height: 40px;
}

.footerIcons img:hover {
    filter: drop-shadow(0px 0px 2px white);
}

/* Responsive Menu */

.respMenuClosed {
    transform: translateX(100%);
}

.burgerDesktop {
    display: none;
}

.respMenuBox {
    display: none;
}

@media (max-width: 1500px) {
    .resp {
        padding-left: 64px;
        padding-right: 64px;
    }
}

@media (max-width: 950px) {
    .respMenuBox {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        right: 0;
        background-color: white;
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        width: 200px;
        height: 250px;
        transition: all 250ms ease-in-out;
    }

    .burgerMobile {
        display: flex;
        height: 48px;
        width: auto;
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
    }

    .burgerMobile:hover {
        filter: drop-shadow(0px 0px 1px rgb(0, 169, 0));
        cursor: pointer;
    }

    .linksDesktop {
        display: none;
    }

    .linkStyle {
        padding-bottom: 16px;
        padding-left: 8px;
    }

    .linkStyle:first-child {
        padding-top: 16px;
    }

    nav {
        padding: 16px;
    }
}